* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.product {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product__inner {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#loading__product {
    width: 100px;
    height: 100px;
    border:20px solid black;
    border-radius: 50%;
    border-top-color: red;
    border-bottom-color: blue;
    border-left-color: orange;
    border-right-color: green;
    margin: 0 auto;
    animation: loadingProductSpin 2s linear infinite;
}


@keyframes loadingProductSpin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.product__filter {
    display: flex;
    justify-content: space-between;
    width:45%;
    margin-top: 15px;
}
.product__filter button {
    border:none;
    outline: none;
}

.product__filter button div:hover {
    background-color: rgba(128, 128, 128, 50%);
}

.product__filter button div {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.filter__priceLowToHigh img {
    transform: rotate(180deg);
}

.filter__mostWatch {
    pointer-events: none;
    opacity: 0.4;
}

.all__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all__products h3 {
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 10px;
}

.card__item {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 9px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 22%;
    padding:10px;
}

.card__imageItem {
    border-radius: 5%;
    margin-bottom: 10px;
    height: 75%;
    width: 80%;
    margin: 0 auto;
    object-fit: contain;
}

.card__imageItem:hover {
    opacity: 0.7;
}

.card__item a {
    font-weight: lighter;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color:black;
}

.card__item h3 {
    font-weight: bold;
    color: blue;
    text-align: center;
}

@media only screen and (max-width:1280px) {
    .product__filter {
        width: 55%;
    }
    .card__item {
        width: 30%;
    }
}

@media only screen and (max-width:800px) {
    .product__filter {
        width: 100%;
    }
    .card__item {
        width: 40%;
    }
}

@media only screen and (max-width:540px) {
    .product__filter {
        width: 100%;
        flex-direction: column;
    }
    .product__filter button {
        margin-bottom: 15px;
    }
    .product__filter button div {
        justify-content: center;
        align-items: center;
    }
    .card__item {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}