* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.signup__inner {
    width: 75%;
    margin:2em auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

#signup__title {
    padding-top: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.signup__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.general__form {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    /* justify-content: center; */
}

.form__description {
    text-align: center;
    font-size: 12px;
    width: 80%;
}

.form__description:before {
    content: "("
}

.form__description:after {
    content: ")"
}

.general__form input {
    margin-top: 5px;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
}

.choose__birthday {
    display: flex;
    justify-content: space-between;
    width:80%;
}

.choose__birthday div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose__birthday div input {
    width:50%
}

.avatar__account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar__title {
    margin-bottom: 5px;
}
.avatar__image {
    width: 100px;
    height: 100px;
    /* background-color: gray; */
    border: 1px solid black;
    margin-bottom: 15px;
    border-radius: 50%;
}

#avatar__account {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* width: 100%; */
    border-radius: 50%;
    display: none;
}

#upload__avatar, #random__avatar {
    /* outline: none; */
    border: 1px solid white;
    background-color: blue;
    color:white;
    padding: 10px;
    border-radius: 5px;
}

#upload__avatar:hover, #random__avatar:hover {
    outline:3px solid black;
}

#btn__signup {
    margin-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#btn__signup button:hover {
    animation: pressButtonSignup 2s;
}

@keyframes pressButtonSignup {
    0% {

    }

    100% {
        background-color: blue;
        color:white;
    }
}

#btn__signup button {
    padding: 10px;
    border-radius: 5px;
}

#to__homepage {
    text-align: center;
}

#error__information {
    text-align: center;
    color:red;
    margin-bottom: 1em;
}

#input__avatar {
    display: none;
}

#see__password {
    float: right;
    margin-left: 35px;
    text-decoration: underline;
}

#see__Againpassword {
    float: right;
    margin-left: 35px;
    text-decoration: underline;
}