* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.contact {
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 75%;
}
.contact__inner {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contact__infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
}

.contact__infor div h3 {
    font-size: 2rem;
}

.contact__infor div p {
    font-size: 20px;
}

.contact__infor div p a{
    font-size: 20px;
}

.contact__inner2 {
    margin-top: 45px;
}

.send__question {
    position: relative;
}

#send__questionTitle {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    font-weight: bolder;
    margin-bottom: 10px;
}
.send__questionInner {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: column;
}

.require__infor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.require__infor div p, .require__content p {
    font-weight: 600;
}

.require__infor div p span, .require__content p span {
    float:right;
    font-weight: lighter;
    font-style: italic;
}

.require__infor div input {
    background-color: rgba(226, 220, 220, 70%);
    border-radius: 5px;
    height: 30px;
    border: none;
    padding: 5px;
}

.require__infor div input:hover, .require__infor div input:focus {
    border: 1px solid black;
    background-color: rgba(226, 220, 220, 100%);
}

.require__content textarea{
    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 20px;
    resize: none;
}

#button__sendQuestion {
    position: absolute;
    left:50%;
    bottom: -15%;
    transform: translate(-50%,-50%);
    background-color: #0500FF;
    width: 200px;
    border:none;
    color:white;
    border-radius: 5px;
    height: 30px;
}

#button__sendQuestion:hover {
    background-color:gray;
}

@media only screen and (max-width:1024px) {
    .contact__inner {
        flex-direction: column;
        align-items: center;
    }
    .contact__map {
        margin-bottom: 20px;
    }
    .contact__infor div {
        margin-bottom: 15px;
    }
    .require__infor {
        flex-direction: column;
        float: right;
    }
    #send__questionTitle {
        margin-bottom: 20px;
    }
    .require__infor div input {
        width: 100%;
    }
}  

@media only screen and (max-width:800px){
    .contact__map iframe {
        width: 400px;
        height: 300px;
    }
    .contact__infor div h3 {
        font-size: 1.5rem;
    }
    .contact__infor div p {
        font-size: 16px;
    }
    
    .contact__infor div p a{
        font-size: 16px;
    }
    #send__questionTitle {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:500px) {
    .contact__map iframe {
        display: none;
    }
}
